﻿@{
    ViewData["Title"] = "Room Allocation Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@model Hostel_Management_System.Areas.Room_Allocate.Models.Room_AllocateModel;

<div class="pagetitle">
    <h1>Room Allocation Add/Edit</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Room_Allocate" asp-action="Index">AllocateList</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Room_Allocate" asp-action="Add">Add</a></li>
        </ol>
    </nav>
</div>

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.25rem;
        color: #333;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    select,
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        appearance: none;
    }
</style>

<div class="card col-md-6">
    <div class="card-body p-3">
        <span class="card-title"><i class="fa-solid fa-door-open"></i> Room Allocation</span>
        <hr />
        <form role="form" method="post" asp-area="Room_Allocate" asp-controller="Room_Allocate" asp-action="Save">
            @Html.HiddenFor(x => x.RoomAllocateID)

            <div class="form-group">
                <label for="inputState"><span class="text-danger">*</span>Student</label>
                <select class="form-control" asp-for="StudentID" asp-items="@(new SelectList(ViewBag.StudentList,"StudentID","StudentName"))">
                    <option value="">Select Student</option>
                </select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="inputState"><span class="text-danger">*</span>Room</label>
                <select class="form-control" asp-for="RoomId" asp-items="@(new SelectList(ViewBag.RoomList,"RoomId","RoomNo"))">
                    <option value="">Select Room</option>
                </select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk mx-1"></i> Save</button>
            <a class="btn btn-secondary" asp-controller="Room_Allocate" asp-action="Cancle"><i class="bi bi-caret-left-fill"></i> Back</a>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}