﻿@{
    ViewData["Title"] = "Student Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@model Hostel_Management_System.Areas.MST_Student.Models.MST_StudentModel;
<style>
	.roombutton{
		background-color: cornflowerblue;
	}

	.roombutton:hover {
			background-color: cornflowerblue;
	}
</style>

<div class="pagetitle">
	<h1>Student Registration</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li class="breadcrumb-item"><a asp-controller="MST_Student" asp-action="Index">Student List</a></li>
			<li class="breadcrumb-item active"><a asp-controller="MST_Student" asp-action="Add">Add</a></li>
		</ol>
	</nav>
</div>

<div class="card col-md-12">
	<div class="card-body p-3">
		@* <h5 class="card-title"><i class="fa-solid fa-gears"></i> Student Registration Form</h5>
		<hr /> *@
		<form role="form" method="post" asp-area="MST_Student" asp-controller="MST_Student" asp-action="Save" enctype="multipart/form-data">
			@Html.HiddenFor(x => x.StudentID)
			@Html.HiddenFor(x => x.PhotoPath)

			<div class="row my-2">
				<div class="form-group col-md-6">
					<label class="my-1">Image</label>
					<input type="file" class="form-control" placeholder="Upload Image Here..." asp-for="File" />
				</div>

				<div class="form-group col-md-6">
					<label for="inputState"><span class="text-danger">*</span>Status</label>
					<select class="form-control" asp-for="isActive">
						<option selected>Choose...</option>
						<option value="True">Active</option>
						<option value="False">Inactive</option>
					</select>
					<span asp-validation-for="isActive" class="text-danger"></span>
				</div>
			</div>

			<div class="form-row my-2">
				<div class="form-group col-12">
					<label for="inputState"><span class="text-danger">*</span>Full Name</label>
					<input type="text" class="form-control" placeholder="Enter your name" asp-for="StudentName">
					<span asp-validation-for="StudentName" class="text-danger"></span>
				</div>
			</div>

			<div class="row my-2">
				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Email</label>
					<input type="text" class="form-control" placeholder="Enter your email" asp-for="Email">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
							
				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Contact No.</label>
					<input type="text" class="form-control" placeholder="Enter your contact no." asp-for="MobileNo">
					<span asp-validation-for="MobileNo" class="text-danger"></span>
				</div>

				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Nationality</label>
					<input type="text" class="form-control" placeholder="Enter Nationality" asp-for="Nationlity">
					<span asp-validation-for="Nationlity" class="text-danger"></span>
				</div>

				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Aadhar Card NO</label>
					<input type="text" class="form-control" placeholder="Enter AadharCard Number" asp-for="AadharCardNo">
					<span asp-validation-for="AadharCardNo" class="text-danger"></span>
				</div>
			</div>

			<div class="row my-2">
				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Date of Birth</label>
					<input type="date" class="form-control" placeholder="Enter your birth date" asp-for="BirthDate" id="birthDate">
					<span asp-validation-for="BirthDate" class="text-danger"></span>
				</div>

				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Age</label>
					<input type="text" class="form-control ageInput" placeholder="Enter your age" asp-for="Age">
					<span asp-validation-for="Age" class="text-danger"></span>
				</div>

				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Blood Group</label>
					<select class="form-control" asp-for="BloodGroup">
						<option selected>Choose Blood Group</option>
						<option value="None">None</option>
						<option value="A+">A RhD positive (A+)</option>
						<option value="A-">A RhD negative (A-)</option>
						<option value="B+">B RhD positive (B+)</option>
						<option value="B-">B RhD negative (B-)</option>
						<option value="O+">O RhD positive (O+)</option>
						<option value="O-">O RhD negative (O-)</option>
						<option value="AB+">AB RhD positive (AB+)</option>
						<option value="AB-">AB RhD negative (AB-)</option>
					</select>
					<span asp-validation-for="BloodGroup" class="text-danger"></span>
				</div>

				<div class="form-group col-3">
					<label for="inputState"><span class="text-danger">*</span>Course</label>
					<select class="form-control" asp-for="CourseID" asp-items="@(new SelectList(ViewBag.CourseList,"CourseID","CourseName"))">
						<option value="">Select Course</option>
						
					</select>
					<span asp-validation-for="CourseID" class="text-danger"></span>
				</div>
			</div>

			<div class="row my-2">
				
			</div>

			<div class="row my-2">
				<div class="form-group col-6">
					<label for="inputState"><span class="text-danger">*</span>Father Name</label>
					<input type="text" class="form-control" placeholder="Enter father name" asp-for="FatherName">
					<span asp-validation-for="FatherName" class="text-danger"></span>
				</div>

				<div class="form-group col-6">
					<label for="inputState"><span class="text-danger">*</span>Father`s Contact No.</label>
					<input type="text" class="form-control" placeholder="Enter father mobile no." asp-for="FatherMobileNo">
					<span asp-validation-for="FatherMobileNo" class="text-danger"></span>
				</div>
			</div>

			<div class="row my-2">
				<div class="form-group col-6">
					<label for="inputState"><span class="text-danger">*</span>Mother Name</label>
					<input type="text" class="form-control" placeholder="Enter Mother name" asp-for="MotherName">
					<span asp-validation-for="MotherName" class="text-danger"></span>
				</div>

				<div class="form-group col-6">
					<label for="inputState"><span class="text-danger">*</span>Mother`s Contact No.</label>
					<input type="text" class="form-control" placeholder="Enter mother mobile no." asp-for="MotherMobileNo">
					<span asp-validation-for="MotherMobileNo" class="text-danger"></span>
				</div>
			</div>

			<div class="row my-2">
				<div class="form-group col-6">
					<label for="inputState"><span class="text-danger">*</span>Guardian Name</label>
					<input type="text" class="form-control" placeholder="Enter Guardian name" asp-for="LocalGurdianName">
					<span asp-validation-for="LocalGurdianName" class="text-danger"></span>
				</div>

				<div class="form-group col-6">
					<label for="inputState"><span class="text-danger">*</span>Guardian`s Contact No.</label>
					<input type="text" class="form-control" placeholder="Enter guardian mobile no." asp-for="LocalGurdianNo">
					<span asp-validation-for="LocalGurdianNo" class="text-danger"></span>
				</div>
			</div>

			<div class="row my-2">
				<div class="form-group col-6">
					<label for="exampleFormControlTextarea1">Current Address</label>
					<textarea class="form-control" placeholder="Enter current address" rows="3" asp-for="PresentAddress"></textarea>
					<span asp-validation-for="PresentAddress" class="text-danger"></span>
				</div>

				<div class="form-group col-6">
					<label for="exampleFormControlTextarea1">Address</label>
					<textarea class="form-control" placeholder="Enter Parement address" rows="3" asp-for="PermentAddress"></textarea>
					<span asp-validation-for="PermentAddress" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group my-2">
				<label for="exampleFormControlTextarea1">Remarks</label>
				<textarea class="form-control" placeholder="Enter Remarks.." rows="3" asp-for="Remarks"></textarea>
			</div>

			<hr />
			<button type="submit" class="btn btn-success btn-rounded px-4"><i class="fa-solid fa-floppy-disk mx-1"></i> Save</button>
			<a class="btn text-light roombutton" asp-area="Room_Allocate" asp-controller="Room_Allocate" asp-action="Add"><i class="bi bi-clipboard-plus-fill text-light"></i>  Allocate Room</a>
			<a class="btn btn-secondary btn-rounded px-4" asp-controller="MST_Student" asp-action="Cancle"><i class="bi bi-caret-left-fill"></i>Back</a>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(document).ready(function () {
			$('#birthDate').change(function () {
				var birthDate = new Date($(this).val());
				var today = new Date();
				var age = today.getFullYear() - birthDate.getFullYear();
				var monthDiff = today.getMonth() - birthDate.getMonth();

				if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
					age--;
				}

				$('.ageInput').val(age);
			});
		});
	</script>

}

